# <center>Salary Prediction</center>

## Modules

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score, mean_squared_error as mse
from sklearn.model_selection import train_test_split as tts

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("salary data.csv")
df.head()

   YearsExperience  Salary
0              1.2   39450
1              1.4   46200
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [3]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [4]:
df.shape

(30, 2)

#### Defining dependent and independent variables

In [6]:
X = df['YearsExperience']
y = df['Salary']

#### Spliting the dataframe for Testing (10%) and for Training (90%)

In [10]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.1, random_state=42)

print(X_train.shape, X_test.shape)

(27,) (3,)

### Simple Linear Regression using User Defined Fucnction

In [19]:
# y = mx + c
def coef_estimate(X, y):
    n = np.size(X)
    
    X_mean = np.mean(X)
    y_mean = np.mean(y)
    
    # formula
    SS_xy = np.sum(y*X) - (n * y_mean * X_mean)
    SS_xx = np.sum(X*X) - (n * X_mean * X_mean)
    
    m = SS_xy / SS_xx
    
    c = y_mean - m*X_mean
    
    return m, c

In [20]:
coef_estimate(X_train, y_train)

(9409.439082376412, 25839.066282321088)

 m = 9409.43  
 c = 25839.066

In [22]:
m, c = coef_estimate(X_train, y_train)

In [23]:
# y = mx + c
y_pred = m*X_test + c

#### Evaluation

In [25]:
r2_score(y_test, y_pred)

0.8936100776818983

The feature (predicator) 'YearsExperience' can explain 90% of variance in the dataset.

In [27]:
mse(y_test, y_pred)

48509442.755734764

The squared difference (error) between actual values and the regression line (predicted values) in average is 48509442.75.